@charset "utf-8";
/*
  Глобальные стили
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 12px Helvetica,Arial,sans-serif;
  width: 100%;
  /*min-height: 100vh;*/
  /*background-image: url(../img/bkg-old-paper-02.jpg);
  background-size: 100%;*/
  background-color: black;
  /*  quotes: "«" "»";*/
  quotes: '\275D' '\275E';
}

/* Стиль для текста в кавычках */
q {
  font-family: DejaVu Sans Mono, Liberation Mono, Fira Mono, monospace;
  font-style: italic;
  font-weight: bold;
}

q::before {
  /*font-size: 18px;*/
  content: open-quote;
  color: navy;
}

q::after {
  /*font-size: 18px;*/
  content: close-quote;
  color: navy;
}

/* Убираем рамки и промежутки для таблиц */
table {
  border: 0;
  border-spacing: 0 0;
  /*border-collapse: collapse; || separate;*/
  padding: 0;
}

td {
  padding: 0;
}

fieldset {
  padding: 8px 13px 3px 13px;
  border: 1px solid silver;
  border-radius: 4px;
}

legend {
  padding: 2px;
}
