@charset "utf-8";
/*
  Стили миниатюр зала
*/
#hall-thumbs {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  max-width: 100%;
}

.img-thumb {
  flex-grow: 0;
/*  flex-basis: 165px;*/
  margin: 7px;
  padding: 0;
  line-height: 1;
  background: #cff6f6;
  border: 1.8px solid black;
  border-radius: 7px 0 9px 0;
  box-shadow: 3px 3px 4px 0px;
}

.img-thumb img {
  margin: 2px 5px;
}
