@charset "utf-8";
/*
  Стили главных элементов разметки страницы
*/
#mainHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  /* --- */
  margin: 2px 0 1px 0;
  width: 100%;
  background: url(../img/logo-bkg-01.jpg) repeat-x;
}

#mainHeader img {
  display: inline-block;
}

#mainHeader .main-title-block {
  display: inline-block;
  margin-left: 24px;
  /*border-image: linear-gradient(#f6b73c, #4d9f0c) 30;*/
  /*border: 9px solid gray;
  border-image: url(../img/nebesa-border.jpg) 9;*/
}

#mainHeader .main-title-char {
  position: relative;
  top: 8px;
  line-height: normal;
  font-size: 48px;
  font-weight: bold;
  color: blue;
  text-shadow: 4px 4px 3px black;
  padding: 0 5px;
  border: 8px solid gray;
  border-image: url(../img/-/nebesa-border.jpg) 8;
}

#mainHeader .main-title {
  line-height: normal;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 4px 4px 3px black;
  /*color: #ffd6d3;*/
  color: blue;
}

#mainHeader .main-subtitle {
  line-height: 1rem;
  font-family: Impact,fantasy;
  font-size: 14px;
  color: white;
  border-left: 1px solid blue;
  margin-left: 3px;
  padding-left: 5px;
}

/* Toolbar's styles */

#mainToolbar {
  background: url(../img/logo-bkg-01.jpg) repeat-x;
}

.toolbar-btn {
  width: 64px;
  height: 64px;
  background: url(../img/tool-btn-bkg-64.jpg);
}

.toolbar-btn>img {
  background-color: silver;
  width: 46px;
  height: 46px;
  border-radius: 5px;
}

/* Auxiliary styles */

.no-outline {
  outline: none;
}

.el-hidden {
  visibility: hidden;
}

/* --- === ================================ === --- */
.beautiful-frame {
  display: inline-block;
  font: 18px cursive;
  color: #371c07;
  background-color: #f4dcae;
  line-height: 1rem;
  padding: 7px 9px;
  border: 29px solid white;
  border-image: url('../img/-/css_border-image-1.png') 29 round;
}

.border-frame-6 {
  display: inline-block;
  font: 18px cursive;
  color: navy;
  background-color: white;
  padding: 7px 9px;
  border-width: 42px;
  border-image-slice: 42;
  /*border-image-width: 42px;
  border-image-outset: 0px;*/
  border-image-source: url('../img/-/border-image-MDN-6.svg');
  border-image-repeat: round;
  border-style: solid;
}

.border-frame-3 {
  display: inline-block;
}

.border-frame-3 * {
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  color: navy;
  background-color: white;
  /*margin: 7px 9px;*/
  border-width: 10px;
  border-image-slice: 15;
  border-image-source: url('../img/-/border-image-MDN-3.png');
  border-image-repeat: round;
  border-style: solid;
}

/* --- nebogame --- */
.border-frame-nebogame {
  display: inline-block;
  border-width: 32px;
  border-image-slice: 42;
  border-image-source: url('../img/-/nebogame-border-01.png');
  border-image-repeat: round;
  border-style: solid;
}

.border-frame-nebogame * {
  font-size: 32px;
  font-weight: bold;
  text-shadow: 4px 4px 3px gray;
  line-height: normal;
  background-color: #ffe6c0;
  color: #371c07;
  /*margin: -30px;*/
}
