@charset "utf-8";
/*
  Стили главных элементов разметки страницы
*/
#mainHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  /* --- */
  margin: 2px 0 1px 0;
  width: 100%;
  background: url(../img/logo-bkg-01.jpg) repeat-x;
}

#mainHeader img {
  display: inline-block;
}

#mainHeader .main-title-block {
  display: inline-block;
  margin-left: 24px;
}

#mainHeader .main-title-char {
  position: relative;
  top: 8px;
  line-height: normal;
  font-size: 48px;
  font-weight: bold;
  color: blue;
  text-shadow: 4px 4px 3px black;
  padding: 0 5px;
  border: 8px solid gray;
}

#mainHeader .main-title {
  line-height: normal;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 4px 4px 3px black;
  /*color: #ffd6d3;*/
  color: blue;
}

#mainHeader .main-subtitle {
  line-height: 1rem;
  font-family: Impact,fantasy;
  font-size: 14px;
  color: white;
  border-left: 1px solid blue;
  margin-left: 3px;
  padding-left: 5px;
}

/* Toolbar's styles */

#mainToolbar {
  background: url(../img/logo-bkg-01.jpg) repeat-x;
}

/*.toolbar-btn {
  width: 64px;
  height: 64px;
  background: url(../img/tool-btn-bkg-64.jpg);
}

.toolbar-btn>img {
  background-color: silver;
  width: 46px;
  height: 46px;
  border-radius: 5px;
}*/

/* Auxiliary styles */

.no-outline {
  outline: none;
}

.el-hidden {
  visibility: hidden;
}
